<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        <div>
            <label for="nome">Nome</label>
            <input name="nome" type="text" id="nome">
        </div><br>

        <div>
            <label for="email">Email</label>
            <input name="email" type="email" id="email">
        </div><br>

        <div>
            <label for="senha1">Senha</label>
            <input name="password1" id="senha1" type="password">
        </div><br>

        <div>
            <label for="senha2">Confirmar senha</label>
            <input name="password2" id="senha2" type="password">
        </div><br>
        <button type="submit">Cadastrar</button>
        <a href="{% url 'logar' %}">Logar</a>

    </form>
</body>
</html>